@-webkit-keyframes animate-fade-in
{
   0% { opacity: 0;  }
   100% { opacity: 1;  }
}
@-moz-keyframes animate-fade-in
{
   0% { opacity: 0;  }
   100% { opacity: 1;  }
}
@-o-keyframes animate-fade-in
{
   0% { opacity: 0;  }
   100% { opacity: 1;  }
}
@-ms-keyframes animate-fade-in
{
   0% { opacity: 0;  }
   100% { opacity: 1;  }
}
@keyframes animate-fade-in
{
   0% { opacity: 0;  }
   100% { opacity: 1;  }
}
@-webkit-keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@-moz-keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@-o-keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@-ms-keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@keyframes animate-fade-out
{
   0% { opacity: 1;  }
   100% { opacity: 0;  }
}
@-webkit-keyframes animate-rotate-out-left
{
   0% { opacity: 1; -webkit-transform: rotate(0deg) ;  }
   100% { opacity: 0; -webkit-transform: translate(-1000px,0px) rotate(360deg) ;  }
}
@-moz-keyframes animate-rotate-out-left
{
   0% { opacity: 1; -moz-transform: rotate(0deg) ;  }
   100% { opacity: 0; -moz-transform: translate(-1000px,0px) rotate(360deg) ;  }
}
@-o-keyframes animate-rotate-out-left
{
   0% { opacity: 1; -o-transform: rotate(0deg) ;  }
   100% { opacity: 0; -o-transform: translate(-1000px,0px) rotate(360deg) ;  }
}
@-ms-keyframes animate-rotate-out-left
{
   0% { opacity: 1; -ms-transform: rotate(0deg) ;  }
   100% { opacity: 0; -ms-transform: translate(-1000px,0px) rotate(360deg) ;  }
}
@keyframes animate-rotate-out-left
{
   0% { opacity: 1; transform: rotate(0deg) ;  }
   100% { opacity: 0; transform: translate(-1000px,0px) rotate(360deg) ;  }
}
@-webkit-keyframes transform-bounce-in-down
{
   0% { -webkit-transform: translate(0px,-500%) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   60% { -webkit-transform: translate(0px,30px) rotate(0deg) ;  }
   80% { -webkit-transform: translate(0px,-10px) rotate(0deg) ;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-moz-keyframes transform-bounce-in-down
{
   0% { -moz-transform: translate(0px,-500%) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   60% { -moz-transform: translate(0px,30px) rotate(0deg) ;  }
   80% { -moz-transform: translate(0px,-10px) rotate(0deg) ;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-o-keyframes transform-bounce-in-down
{
   0% { -o-transform: translate(0px,-500%) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   60% { -o-transform: translate(0px,30px) rotate(0deg) ;  }
   80% { -o-transform: translate(0px,-10px) rotate(0deg) ;  }
   100% { -o-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-ms-keyframes transform-bounce-in-down
{
   0% { -ms-transform: translate(0px,-500%) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   60% { -ms-transform: translate(0px,30px) rotate(0deg) ;  }
   80% { -ms-transform: translate(0px,-10px) rotate(0deg) ;  }
   100% { -ms-transform: translate(0px,0px) rotate(0deg) ;  }
}
@keyframes transform-bounce-in-down
{
   0% { transform: translate(0px,-500%) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   60% { transform: translate(0px,30px) rotate(0deg) ;  }
   80% { transform: translate(0px,-10px) rotate(0deg) ;  }
   100% { transform: translate(0px,0px) rotate(0deg) ;  }
}
@-webkit-keyframes transform-bounce-in-left
{
   0% { -webkit-transform: translate(-500%,0px) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   60% { -webkit-transform: translate(30px,0px) rotate(0deg) ;  }
   80% { -webkit-transform: translate(-10px,0px) rotate(0deg) ;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-moz-keyframes transform-bounce-in-left
{
   0% { -moz-transform: translate(-500%,0px) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   60% { -moz-transform: translate(30px,0px) rotate(0deg) ;  }
   80% { -moz-transform: translate(-10px,0px) rotate(0deg) ;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-o-keyframes transform-bounce-in-left
{
   0% { -o-transform: translate(-500%,0px) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   60% { -o-transform: translate(30px,0px) rotate(0deg) ;  }
   80% { -o-transform: translate(-10px,0px) rotate(0deg) ;  }
   100% { -o-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-ms-keyframes transform-bounce-in-left
{
   0% { -ms-transform: translate(-500%,0px) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   60% { -ms-transform: translate(30px,0px) rotate(0deg) ;  }
   80% { -ms-transform: translate(-10px,0px) rotate(0deg) ;  }
   100% { -ms-transform: translate(0px,0px) rotate(0deg) ;  }
}
@keyframes transform-bounce-in-left
{
   0% { transform: translate(-500%,0px) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   60% { transform: translate(30px,0px) rotate(0deg) ;  }
   80% { transform: translate(-10px,0px) rotate(0deg) ;  }
   100% { transform: translate(0px,0px) rotate(0deg) ;  }
}
@-webkit-keyframes transform-bounce-in-right
{
   0% { -webkit-transform: translate(500%,0px) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   60% { -webkit-transform: translate(-30px,0px) rotate(0deg) ;  }
   80% { -webkit-transform: translate(10px,0px) rotate(0deg) ;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-moz-keyframes transform-bounce-in-right
{
   0% { -moz-transform: translate(500%,0px) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   60% { -moz-transform: translate(-30px,0px) rotate(0deg) ;  }
   80% { -moz-transform: translate(10px,0px) rotate(0deg) ;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-o-keyframes transform-bounce-in-right
{
   0% { -o-transform: translate(500%,0px) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   60% { -o-transform: translate(-30px,0px) rotate(0deg) ;  }
   80% { -o-transform: translate(10px,0px) rotate(0deg) ;  }
   100% { -o-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-ms-keyframes transform-bounce-in-right
{
   0% { -ms-transform: translate(500%,0px) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   60% { -ms-transform: translate(-30px,0px) rotate(0deg) ;  }
   80% { -ms-transform: translate(10px,0px) rotate(0deg) ;  }
   100% { -ms-transform: translate(0px,0px) rotate(0deg) ;  }
}
@keyframes transform-bounce-in-right
{
   0% { transform: translate(500%,0px) rotate(0deg) ; opacity: 0;  }
   50% { opacity: 1;  }
   60% { transform: translate(-30px,0px) rotate(0deg) ;  }
   80% { transform: translate(10px,0px) rotate(0deg) ;  }
   100% { transform: translate(0px,0px) rotate(0deg) ;  }
}
@-webkit-keyframes transform-lightspeed-in
{
   0% { -webkit-transform: translate(100%,0px) rotate(0deg) skewX(-30deg) ; opacity: 0;  }
   60% { -webkit-transform: translate(-20%,0px) rotate(0deg) skewX(30deg) ; opacity: 1;  }
   80% { -webkit-transform: translate(0px,0px) rotate(0deg) skewX(-15deg) ; opacity: 1;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) skewX(0deg) ; opacity: 1;  }
}
@-moz-keyframes transform-lightspeed-in
{
   0% { -moz-transform: translate(100%,0px) rotate(0deg) skewX(-30deg) ; opacity: 0;  }
   60% { -moz-transform: translate(-20%,0px) rotate(0deg) skewX(30deg) ; opacity: 1;  }
   80% { -moz-transform: translate(0px,0px) rotate(0deg) skewX(-15deg) ; opacity: 1;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) skewX(0deg) ; opacity: 1;  }
}
@-o-keyframes transform-lightspeed-in
{
   0% { -o-transform: translate(100%,0px) rotate(0deg) skewX(-30deg) ; opacity: 0;  }
   60% { -o-transform: translate(-20%,0px) rotate(0deg) skewX(30deg) ; opacity: 1;  }
   80% { -o-transform: translate(0px,0px) rotate(0deg) skewX(-15deg) ; opacity: 1;  }
   100% { -o-transform: translate(0px,0px) rotate(0deg) skewX(0deg) ; opacity: 1;  }
}
@-ms-keyframes transform-lightspeed-in
{
   0% { -ms-transform: translate(100%,0px) rotate(0deg) skewX(-30deg) ; opacity: 0;  }
   60% { -ms-transform: translate(-20%,0px) rotate(0deg) skewX(30deg) ; opacity: 1;  }
   80% { -ms-transform: translate(0px,0px) rotate(0deg) skewX(-15deg) ; opacity: 1;  }
   100% { -ms-transform: translate(0px,0px) rotate(0deg) skewX(0deg) ; opacity: 1;  }
}
@keyframes transform-lightspeed-in
{
   0% { transform: translate(100%,0px) rotate(0deg) skewX(-30deg) ; opacity: 0;  }
   60% { transform: translate(-20%,0px) rotate(0deg) skewX(30deg) ; opacity: 1;  }
   80% { transform: translate(0px,0px) rotate(0deg) skewX(-15deg) ; opacity: 1;  }
   100% { transform: translate(0px,0px) rotate(0deg) skewX(0deg) ; opacity: 1;  }
}
@-webkit-keyframes transform-scale-in
{
   0% { opacity: 0; -webkit-transform: rotate(0deg) scale(0,0) ;  }
   100% { opacity: 1; -webkit-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-moz-keyframes transform-scale-in
{
   0% { opacity: 0; -moz-transform: rotate(0deg) scale(0,0) ;  }
   100% { opacity: 1; -moz-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-o-keyframes transform-scale-in
{
   0% { opacity: 0; -o-transform: rotate(0deg) scale(0,0) ;  }
   100% { opacity: 1; -o-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-ms-keyframes transform-scale-in
{
   0% { opacity: 0; -ms-transform: rotate(0deg) scale(0,0) ;  }
   100% { opacity: 1; -ms-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@keyframes transform-scale-in
{
   0% { opacity: 0; transform: rotate(0deg) scale(0,0) ;  }
   100% { opacity: 1; transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-webkit-keyframes transform-spring
{
   0% { -webkit-transform: rotate(0deg) ;  }
   30% { -webkit-transform: rotate(0deg) scale(1.0,0.5) ;  }
   40% { -webkit-transform: rotate(0deg) scale(1.0,1.5) ;  }
   50% { -webkit-transform: rotate(0deg) scale(1.0,0.7) ;  }
   61% { -webkit-transform: rotate(0deg) scale(1.0,1.4) ;  }
   72% { -webkit-transform: rotate(0deg) scale(1.0,0.8) ;  }
   83% { -webkit-transform: rotate(0deg) scale(1.0,1.2) ;  }
   100% { -webkit-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-moz-keyframes transform-spring
{
   0% { -moz-transform: rotate(0deg) ;  }
   30% { -moz-transform: rotate(0deg) scale(1.0,0.5) ;  }
   40% { -moz-transform: rotate(0deg) scale(1.0,1.5) ;  }
   50% { -moz-transform: rotate(0deg) scale(1.0,0.7) ;  }
   61% { -moz-transform: rotate(0deg) scale(1.0,1.4) ;  }
   72% { -moz-transform: rotate(0deg) scale(1.0,0.8) ;  }
   83% { -moz-transform: rotate(0deg) scale(1.0,1.2) ;  }
   100% { -moz-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-o-keyframes transform-spring
{
   0% { -o-transform: rotate(0deg) ;  }
   30% { -o-transform: rotate(0deg) scale(1.0,0.5) ;  }
   40% { -o-transform: rotate(0deg) scale(1.0,1.5) ;  }
   50% { -o-transform: rotate(0deg) scale(1.0,0.7) ;  }
   61% { -o-transform: rotate(0deg) scale(1.0,1.4) ;  }
   72% { -o-transform: rotate(0deg) scale(1.0,0.8) ;  }
   83% { -o-transform: rotate(0deg) scale(1.0,1.2) ;  }
   100% { -o-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-ms-keyframes transform-spring
{
   0% { -ms-transform: rotate(0deg) ;  }
   30% { -ms-transform: rotate(0deg) scale(1.0,0.5) ;  }
   40% { -ms-transform: rotate(0deg) scale(1.0,1.5) ;  }
   50% { -ms-transform: rotate(0deg) scale(1.0,0.7) ;  }
   61% { -ms-transform: rotate(0deg) scale(1.0,1.4) ;  }
   72% { -ms-transform: rotate(0deg) scale(1.0,0.8) ;  }
   83% { -ms-transform: rotate(0deg) scale(1.0,1.2) ;  }
   100% { -ms-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@keyframes transform-spring
{
   0% { transform: rotate(0deg) ;  }
   30% { transform: rotate(0deg) scale(1.0,0.5) ;  }
   40% { transform: rotate(0deg) scale(1.0,1.5) ;  }
   50% { transform: rotate(0deg) scale(1.0,0.7) ;  }
   61% { transform: rotate(0deg) scale(1.0,1.4) ;  }
   72% { transform: rotate(0deg) scale(1.0,0.8) ;  }
   83% { transform: rotate(0deg) scale(1.0,1.2) ;  }
   100% { transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-webkit-keyframes transform-swing
{
   0% { -webkit-transform: rotate(0deg) ;  }
   20% { -webkit-transform-origin: top center; -webkit-transform: rotate(15deg) ;  }
   40% { -webkit-transform-origin: top center; -webkit-transform: rotate(-10deg) ;  }
   60% { -webkit-transform-origin: top center; -webkit-transform: rotate(5deg) ;  }
   80% { -webkit-transform-origin: top center; -webkit-transform: rotate(-5deg) ;  }
   100% { -webkit-transform-origin: top center; -webkit-transform: rotate(0deg) ;  }
}
@-moz-keyframes transform-swing
{
   0% { -moz-transform: rotate(0deg) ;  }
   20% { -moz-transform-origin: top center; -moz-transform: rotate(15deg) ;  }
   40% { -moz-transform-origin: top center; -moz-transform: rotate(-10deg) ;  }
   60% { -moz-transform-origin: top center; -moz-transform: rotate(5deg) ;  }
   80% { -moz-transform-origin: top center; -moz-transform: rotate(-5deg) ;  }
   100% { -moz-transform-origin: top center; -moz-transform: rotate(0deg) ;  }
}
@-o-keyframes transform-swing
{
   0% { -o-transform: rotate(0deg) ;  }
   20% { -o-transform-origin: top center; -o-transform: rotate(15deg) ;  }
   40% { -o-transform-origin: top center; -o-transform: rotate(-10deg) ;  }
   60% { -o-transform-origin: top center; -o-transform: rotate(5deg) ;  }
   80% { -o-transform-origin: top center; -o-transform: rotate(-5deg) ;  }
   100% { -o-transform-origin: top center; -o-transform: rotate(0deg) ;  }
}
@-ms-keyframes transform-swing
{
   0% { -ms-transform: rotate(0deg) ;  }
   20% { -ms-transform-origin: top center; -ms-transform: rotate(15deg) ;  }
   40% { -ms-transform-origin: top center; -ms-transform: rotate(-10deg) ;  }
   60% { -ms-transform-origin: top center; -ms-transform: rotate(5deg) ;  }
   80% { -ms-transform-origin: top center; -ms-transform: rotate(-5deg) ;  }
   100% { -ms-transform-origin: top center; -ms-transform: rotate(0deg) ;  }
}
@keyframes transform-swing
{
   0% { transform: rotate(0deg) ;  }
   20% { transform-origin: top center; transform: rotate(15deg) ;  }
   40% { transform-origin: top center; transform: rotate(-10deg) ;  }
   60% { transform-origin: top center; transform: rotate(5deg) ;  }
   80% { transform-origin: top center; transform: rotate(-5deg) ;  }
   100% { transform-origin: top center; transform: rotate(0deg) ;  }
}
@-webkit-keyframes transform-tada
{
   0% { -webkit-transform: rotate(0deg) ;  }
   10% { -webkit-transform: rotate(-3deg) scale(0.9,0.9) ;  }
   20% { -webkit-transform: rotate(-3deg) scale(0.9,0.9) ;  }
   30% { -webkit-transform: rotate(3deg) scale(1.1,1.1) ;  }
   40% { -webkit-transform: rotate(-3deg) scale(1.1,1.1) ;  }
   50% { -webkit-transform: rotate(3deg) scale(1.1,1.1) ;  }
   60% { -webkit-transform: rotate(-3deg) scale(1.1,1.1) ;  }
   70% { -webkit-transform: rotate(3deg) scale(1.1,1.1) ;  }
   80% { -webkit-transform: rotate(-3deg) scale(1.1,1.1) ;  }
   90% { -webkit-transform: rotate(3deg) scale(1.1,1.1) ;  }
   100% { -webkit-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-moz-keyframes transform-tada
{
   0% { -moz-transform: rotate(0deg) ;  }
   10% { -moz-transform: rotate(-3deg) scale(0.9,0.9) ;  }
   20% { -moz-transform: rotate(-3deg) scale(0.9,0.9) ;  }
   30% { -moz-transform: rotate(3deg) scale(1.1,1.1) ;  }
   40% { -moz-transform: rotate(-3deg) scale(1.1,1.1) ;  }
   50% { -moz-transform: rotate(3deg) scale(1.1,1.1) ;  }
   60% { -moz-transform: rotate(-3deg) scale(1.1,1.1) ;  }
   70% { -moz-transform: rotate(3deg) scale(1.1,1.1) ;  }
   80% { -moz-transform: rotate(-3deg) scale(1.1,1.1) ;  }
   90% { -moz-transform: rotate(3deg) scale(1.1,1.1) ;  }
   100% { -moz-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-o-keyframes transform-tada
{
   0% { -o-transform: rotate(0deg) ;  }
   10% { -o-transform: rotate(-3deg) scale(0.9,0.9) ;  }
   20% { -o-transform: rotate(-3deg) scale(0.9,0.9) ;  }
   30% { -o-transform: rotate(3deg) scale(1.1,1.1) ;  }
   40% { -o-transform: rotate(-3deg) scale(1.1,1.1) ;  }
   50% { -o-transform: rotate(3deg) scale(1.1,1.1) ;  }
   60% { -o-transform: rotate(-3deg) scale(1.1,1.1) ;  }
   70% { -o-transform: rotate(3deg) scale(1.1,1.1) ;  }
   80% { -o-transform: rotate(-3deg) scale(1.1,1.1) ;  }
   90% { -o-transform: rotate(3deg) scale(1.1,1.1) ;  }
   100% { -o-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-ms-keyframes transform-tada
{
   0% { -ms-transform: rotate(0deg) ;  }
   10% { -ms-transform: rotate(-3deg) scale(0.9,0.9) ;  }
   20% { -ms-transform: rotate(-3deg) scale(0.9,0.9) ;  }
   30% { -ms-transform: rotate(3deg) scale(1.1,1.1) ;  }
   40% { -ms-transform: rotate(-3deg) scale(1.1,1.1) ;  }
   50% { -ms-transform: rotate(3deg) scale(1.1,1.1) ;  }
   60% { -ms-transform: rotate(-3deg) scale(1.1,1.1) ;  }
   70% { -ms-transform: rotate(3deg) scale(1.1,1.1) ;  }
   80% { -ms-transform: rotate(-3deg) scale(1.1,1.1) ;  }
   90% { -ms-transform: rotate(3deg) scale(1.1,1.1) ;  }
   100% { -ms-transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@keyframes transform-tada
{
   0% { transform: rotate(0deg) ;  }
   10% { transform: rotate(-3deg) scale(0.9,0.9) ;  }
   20% { transform: rotate(-3deg) scale(0.9,0.9) ;  }
   30% { transform: rotate(3deg) scale(1.1,1.1) ;  }
   40% { transform: rotate(-3deg) scale(1.1,1.1) ;  }
   50% { transform: rotate(3deg) scale(1.1,1.1) ;  }
   60% { transform: rotate(-3deg) scale(1.1,1.1) ;  }
   70% { transform: rotate(3deg) scale(1.1,1.1) ;  }
   80% { transform: rotate(-3deg) scale(1.1,1.1) ;  }
   90% { transform: rotate(3deg) scale(1.1,1.1) ;  }
   100% { transform: rotate(0deg) scale(1.0,1.0) ;  }
}
@-webkit-keyframes transform-wobble
{
   0% { -webkit-transform: rotate(0deg) ;  }
   15% { -webkit-transform: translate(-25%,0px) rotate(-5deg) ;  }
   30% { -webkit-transform: translate(20%,0px) rotate(3deg) ;  }
   45% { -webkit-transform: translate(-15%,0px) rotate(-3deg) ;  }
   60% { -webkit-transform: translate(10%,0px) rotate(2deg) ;  }
   75% { -webkit-transform: translate(-5%,0px) rotate(-1deg) ;  }
   100% { -webkit-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-moz-keyframes transform-wobble
{
   0% { -moz-transform: rotate(0deg) ;  }
   15% { -moz-transform: translate(-25%,0px) rotate(-5deg) ;  }
   30% { -moz-transform: translate(20%,0px) rotate(3deg) ;  }
   45% { -moz-transform: translate(-15%,0px) rotate(-3deg) ;  }
   60% { -moz-transform: translate(10%,0px) rotate(2deg) ;  }
   75% { -moz-transform: translate(-5%,0px) rotate(-1deg) ;  }
   100% { -moz-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-o-keyframes transform-wobble
{
   0% { -o-transform: rotate(0deg) ;  }
   15% { -o-transform: translate(-25%,0px) rotate(-5deg) ;  }
   30% { -o-transform: translate(20%,0px) rotate(3deg) ;  }
   45% { -o-transform: translate(-15%,0px) rotate(-3deg) ;  }
   60% { -o-transform: translate(10%,0px) rotate(2deg) ;  }
   75% { -o-transform: translate(-5%,0px) rotate(-1deg) ;  }
   100% { -o-transform: translate(0px,0px) rotate(0deg) ;  }
}
@-ms-keyframes transform-wobble
{
   0% { -ms-transform: rotate(0deg) ;  }
   15% { -ms-transform: translate(-25%,0px) rotate(-5deg) ;  }
   30% { -ms-transform: translate(20%,0px) rotate(3deg) ;  }
   45% { -ms-transform: translate(-15%,0px) rotate(-3deg) ;  }
   60% { -ms-transform: translate(10%,0px) rotate(2deg) ;  }
   75% { -ms-transform: translate(-5%,0px) rotate(-1deg) ;  }
   100% { -ms-transform: translate(0px,0px) rotate(0deg) ;  }
}
@keyframes transform-wobble
{
   0% { transform: rotate(0deg) ;  }
   15% { transform: translate(-25%,0px) rotate(-5deg) ;  }
   30% { transform: translate(20%,0px) rotate(3deg) ;  }
   45% { transform: translate(-15%,0px) rotate(-3deg) ;  }
   60% { transform: translate(10%,0px) rotate(2deg) ;  }
   75% { transform: translate(-5%,0px) rotate(-1deg) ;  }
   100% { transform: translate(0px,0px) rotate(0deg) ;  }
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3
{
   font-family: Arial;
   font-size: 24px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4
{
   font-family: Arial;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5
{
   font-family: Arial;
   font-size: 19px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6
{
   font-family: Arial;
   font-size: 16px;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   text-decoration: none;
   color: #000080;
   background-color: transparent;
}
